<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="post" enctype="multipart/form-data">
		<input type="file" name="myfile">
		<input type="submit" name="submit" name="submit">
	</form>
</body>
</html>