<!DOCTYPE html>
<html>
<head>
	<title>Delete</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">

</head>
<body>
	
	<a href="/home">Back</a>| 
	<a href="/logout">Logout</a>
	
	
	<h3>Delete User</h3>

	<form method="post">
		<table border="1">
			<tr>
				<td>Username</td>
				<td><%= user.username %></td>
			</tr>
			<tr>
				<td>password</td>
				<td><%= user.password %></td>
			</tr>
			<tr>
				<td>Type</td>
				<td><%= user.type %></td>
			</tr>
		</table>
		<h3>Are you sure? This can't be undone!</h3>
		<input type="hidden" name="id" value="<%= user.id %>">
		<input type="submit" name="submit" value="confirm">
	</form>
	
</body>
</html>
