<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">

</head>
<body>
	<h1>Welcome Home! <%= uname %></h1> 

	<a href="/home/view_users">View Users</a>| 
	<a href="/home/create">Create User</a>| 
	<a href="/logout">Logout</a>
	
</body>
</html>
