<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">

</head>
<body>
	<h1>Welcome Home!</h1> <a href="/logout">Logout</a>
	<!-- <img src="abc/abc.jpg"> -->
	
</body>
</html>